{% extends 'website/base.html' %}
{% load static %}


{% block content %}<br>
    <h1>Password Change Successful</h1>

    {% if messages %}
    
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <b>{{ message }}</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
    {% endfor %}
    {% endif %}
    <p><a href="{% url 'login' %}">Login Again</a></p>
{% endblock content %}